/* ------ RESET ------ */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Libre Franklin', 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.green-point::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 7.5px;
    background-color: #36A18B;
    position: relative;
    bottom: 15px;
}

.green-button {
    background-color: #36A18B;
    color: #fff;
    font-size: 1rem;
    border: 0px;
    border-radius: 10px;
    padding: 1rem 2.3rem;
    cursor: pointer;
    outline: none;
}

.green-button:hover {
    box-shadow: -1px 5px 8px -5px rgba(0, 0, 0, 0.8);
    transform: translate(0px, -2px);
    transition-duration: 0.3s;
}

.link a:hover {
    color: #36A18B;
}

.align-center {
    text-align: center;
}

.download-button {
    margin-right: 1rem;
}

select#countries {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem 1.8rem;
    border-radius: 7px;
    margin-bottom: 0.8rem;
    cursor: pointer;
    background-color: #fbfbfb
}

/* ------ BACKGROUND COLORS ------ */

.background-white {
    background-color: #FFFFFF;
}

.background-grey {
    background-color: #F5F5F5;
}

.background-hell-blue {
    background-color: #C8D7E5;
}

/* ------ FONT COLORS ------ */

h1, h2, h3, p, a {
    color: #1B1B1B;
}

/* ------ TYPOGRAPHY ------ */

#logo {
    font-size: 1.4rem;
    padding: 0;
}

#logo span {
    text-decoration: underline overline;
}

#logo sup {
    font-size: 0.7rem;
    position: relative;
    bottom: 0.6rem;
}

h1 {
    font-size: 2.8rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.15rem;
    font-weight: 500;
    padding: 1.3rem 0;
}

h3 {
    font-size: 1.05rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
}

p {
    font-size: 1.05rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.fa-chevron-right {
    font-size: 1.3rem;
    position: relative;
    top: 0.1rem;
    padding-left: 0.5rem;
}

/* ------------------- MOBILE PHONE ------------------- */

@media screen and (max-width: 576px) {

.sides-padding {
    padding: 1rem 3rem 3rem 3rem;
}

/* images */

#mobile-spaces,
#mobile-payment,
#credit-card,
#debit-card {
    width: 100%;
    margin-bottom: 1.2rem;
}

/* header */

header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9.5vh;
    position: sticky;
    top: 0;
    z-index: 99;
}

/* navigation bar */

#mobile-nav-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1.5rem;
}

nav {
    display: none;
    width: 100%;
    height: auto;
}

#menu-list {
    width: 100%;
    height: 91vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 5fr 1fr;
    align-items: initial;
    background-color: #fff;
}

.menu-option {
    width: 100%;
    border-top: 1px solid rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.05rem 0;
    font-weight: 500;
}

.languages {
    justify-content: flex-start;
}

.languages span {
    color: rgb(194, 194, 194);
}

.green-button-nav {
    background-color: #36A18B;
    color: #fff;
    margin-top: 2rem;
    font-size: 0.9rem;
    border: 0px;
    border-radius: 10px;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    outline: none;
}

.green-button-nav:hover {
    box-shadow: -1px 5px 8px -5px rgba(0, 0, 0, 0.8);
    transform: translate(0px, -2px);
    transition-duration: 0.3s;
}

#toggle-navbar {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 2px;
    background-color: #1B1B1B;
    margin: 8px 0;
}

/* main */

main {
    width: 100%;
    height: 95vh;
    background-image: url("img/landing-main-picture-mobile.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blur {
    width: 100%;
    height: 100%;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(236, 233, 230, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(236, 233, 230, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 4.8rem;
}

/* articles */

.spaces {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
}

/* contact */

#contact {
    padding: 2.5rem 2rem 2.5rem 2rem;
    font-size: 1rem;
    line-height: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    justify-items: flex-start;
}

.social-networks {
    font-size: 1.2rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social-networks li {
    margin-right: 0.9rem;
}


/* downloads */

#downloads {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* footer */

#web-browser-button {
    display: none;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1.5rem;
}

footer p,
footer li{
    font-size: 0.75rem;
    line-height: 1.8;
}

} 