/* ------ RESET ------ */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ------ BACKGROUND COLORS ------ */


.background-white {
    background-color: #FFFFFF;
}

.background-grey {
    background-color: #F5F5F5;
}

.background-hell-blue {
    background-color: #C8D7E5;
}

.green-button {
    background-color: #36A18B;
}


/* ------------------- MOBILE PHONE ------------------- */

@media screen and (max-width: 576px) {

/* typography */


/* header */


/* navigation bar */

#toggle-navbar {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
}





} 